body {
  font-family: 'Montserrat Regular', sans-serif;
  padding-top: 36px;
  padding-left: 156px;
}
#datetime-picker {
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  background-color: #fff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-right: 8px;
  margin-bottom: 32px;
}
button {
  gap: 10px;
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background-color: #cfcfcf;
  border: none;
}
.timer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 24px;
  width: 346px;
  height: 72px;
}
.field {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 55px;
  height: 72px;
  font-weight: 400;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}
.value {
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
}
